<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>


<div class="main-page-header header-container">
    <div class="header-title">
        <span>
            <a routerLink="/">
                <img class="app-logo"
                    src="https://as1.ftcdn.net/v2/jpg/02/22/45/88/500_F_222458823_Ew8UM4aJcB7EU8Wtx6Y8Z8nEk51zvCV0.jpg"
                    alt="logo">
            </a>
        </span>
        <span class="header-title">
                Listen To It
        </span>
    </div>

</div>