.header{

    &-container{
        font-size: 35px;
        color: white;
        padding: 0.5rem;
        height: 100%;
    }

    &-title{
        display: flex;
        align-items: center;
        font-family: "Lobster Two", cursive;
        font-size: 3rem;
    }
}