.header{

    &-container{
        background-image: linear-gradient(to top, rgba(140, 20, 252, 1), rgba(140, 20, 252, 0.541));
        font-size: 35px;
        color: white;
        padding: 0.5rem;
        height: 100%;
    }

    &-title{
        display: flex;
        align-items: center;
        font-family: "Lobster Two", cursive;
        font-size: 3rem;
    }
}