<div *ngIf="haveComent()" class="comentary-container">

    <div *ngFor="let comentary of this.comentaryList" class="comentary-card">
        <div class="user-block">
            <span class="user-icon material-icons">
                portrait
            </span>
            <span>{{comentary.userName}}</span>
        </div>
        <div class="comentary-text">
            <span>{{comentary.comentaryText}}</span>
        </div>
        <div class="comentary-date">
            <span>{{ comentary.createdAt | date:'dd/MM/yyyy hh:mm'}}</span>
        </div>
    </div>

</div>