@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@import "../../../../styles.scss";


.lyrics {
    &-card {
        padding: 1rem;
        background-color: white;
        margin-bottom: 0.5rem;
        border: 3px solid blueviolet;
        border-radius: 10px;

        &-title {
            font-size: 1.5rem;
            color: $primary-color;
            margin: 0px;
        }
    }

    &-value {
        &-content {
            margin-top: 1rem;
            color: black;
        }
    }
}
