<div class="lyrics-card">
  <h1 class="lyrics-card-title">Letras</h1>
  <span *ngIf="this.loged" routerLink="/album/create/{{musicModel.idArtist}}" class="music-info-value button-primary">Enviar Album</span>

  <div>    

    <div class="language-tab-bar mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button (click)="viewLyricsValue(lyric.language)" *ngFor="let lyric of this.lyricsList"
              class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">{{lyric.language}}</span>
                <span *ngIf="lyric.original" class="mdc-tab__text-label">(Original)</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="lyrics-value-content">
      <div [innerHTML]="this.lyricsView.lyricsText">
      </div>
    </div>

    <div *ngIf="this.lyricsView.id > 0" class="lyrics-colab-list">
      <app-collaboration-list [idLyrics]=this.lyricsView.id></app-collaboration-list>
    </div>

  </div>

</div>