<div class="main-page-card">
    <h1 class="page-card-title">Login</h1>
    <div class="login-card-content">
        <form *ngIf="!this.loged" class="login-form" [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)">
            <div>
                <mat-form-field class="login-input" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input id="email" name="email" type="text" matInput placeholder="E-mail" formControlName="email">
                </mat-form-field>
            </div>
            <div class="password-input">
                <mat-form-field class="login-input" appearance="outline">
                    <mat-label>Senha</mat-label>                        
                        <input style="align-items: center;" id="password" name="password"
                            [type]="hide ? 'password' : 'text'" matInput placeholder="Senha" formControlName="password">

                        <button type="button" class="password-hide-button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                </mat-form-field>
            </div>

            <div class="login-button-group">
                <button [disabled]="!formLogin.valid" class="button-primary" style="margin-right: 2rem;">
                    Logar
                </button>
                <button type="button" routerLink="/user/edit" class="button-primary">
                    Cadastrar
                </button>
            </div>

            <mat-progress-bar class="login-load-bar" *ngIf="load" mode="indeterminate"></mat-progress-bar>

        </form>

        <div *ngIf="this.loged" class="main-card-sucess">
            <div class="card-loged">
                <span class="main-card-icon material-icons">
                    info
                </span>
                <p class="m0">Você já está logado! Deseja <a class="card-loged-logout button-hover-primary"
                        (click)="logOutUser()"> Sair </a> ?</p>
            </div>

        </div>
    </div>
</div>