

.login{
    &-card{
        align-items: flex-start;
    }

    &-card{
        margin: 1rem;
        padding: 1rem;
        display: flexbox;
        background-color: #212121;
        color: white;
        font-weight: bolder;
        border-radius: 10px;
    }

    &-load-bar{
        margin-top: 1rem;
    }

    &-input{
        min-width: 250px;
        max-width: 100%;
        width: 350px;
    }
}

.card-loged{
    display: flex;
    align-items: center;

    &-icon{
        margin-right: 1rem;
    }

    &-logout{
        cursor: pointer;
        color: #00fff3;
        font-size: 1.0rem;        
    }
}


.password{
    &-hide{
        &-button{
            margin-top: 0.5rem !important;
            display: flex !important;
            float: right !important;
        }
    }
}