.music {
    &-details {
        &-container {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
        }
        &-info {
            &-block {
                flex: auto;
                padding-right: 1rem;
            }
        }
    }

    &-info {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;

        &-icon {
            margin-right: 0.5rem;
            color: blueviolet;
        }

        &-value {
            font-size: 18px;
        }
    }

    &-name {
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    &-artist {
        align-items: center;
        display: flex;
    }

    &-link {
        display: flex;
        align-items: center;

        .button {
            display: flex;
            max-width: 28px;
            min-width: 25px;
            align-items: center;
            margin-right: 1rem;
        }

        .icon {
            max-width: 100%;
            display: flex;
        }
    }

    &-like {
        display: flex;
        align-items: flex-end;
        margin-top: 2rem;

        &-button {
            text-decoration: none;
            color: rgb(132, 0, 255);
            cursor: pointer;

            position: relative;
            transition-duration: 0.4s;

            &:after {
                content: "";
                display: block;
                position: absolute;
                border-radius: 4em;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.5s;
                box-shadow: 0 0 10px 40px greenyellow;
            }

            &:active:after {
                box-shadow: 0 0 0 0 white;
                position: absolute;
                border-radius: 4em;
                left: 0;
                top: 0;
                opacity: 1;
                transition: 0s;
            }

            &:not(.unliked) {
                color: greenyellow;
            }
        }

        &-count {
            margin-left: 0.5rem;
        }
    }

    &-component {
        &-block {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: wrap;
            margin-top: 1rem;
        }
        &-lyrics {
            flex: auto;
            //max-width: 630px;
        }
        &-comentary {
            max-width: 640px;
        }
    }

    &-colab {
        &-list {
            color: white;
            font-size: 16px;
            border-top: 2px solid blueviolet;
            padding-top: 1rem;
            margin-top: 1rem;
        }
    }
} // fim da classe principal .music

.youtube-iframe {
    iframe {
        max-width: 100%;
    }
}

.spotify-iframe {
    min-width: 50%;
    max-width: 500px;
}
