.footer {
    &-container {
        background-image: linear-gradient(to top, rgba(140, 20, 252, 1), rgba(140, 20, 252, 0.541));
        font-size: 15px;
        color: white;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            margin-right: 0.5rem;
        }
    }
}
