.footer {
    &-container {
        font-size: 15px;
        color: white;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            margin-right: 0.5rem;
        }
    }
}
